<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
      

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        select {
            width: calc(100% - 20px); /* استخدم العرض الكامل للشاشة مع هوامش من اليمين واليسار */
            margin: 5px; /* هامش من اليمين واليسار */
             padding: 10px;
        }

        button {
            margin-top: 10px; /* هامش من الأعلى */
            padding: 5px;
            margin: 5px;
       
          
             
        }
        label[for="choixCategory"] {
            font-size: 16px; /* Taille de la police */
            font-family: Arial, sans-serif; /* Police de caractères */
            color: #333; /* Couleur du texte */
        }
    </style>
</head>
<body>